<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Nano Scan</title>
</head>
<body>
    <h1>{{rfidTag}}</h1>
    <button onclick="fetchUser()" >Scan Now</button><!-- TEMPORARY -->
    <p id="data">{{student}}</p><!-- TEMPORARY -->
    

   <a href="{{url_for('app_blueprint.about')}}">About us</a>

<script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>
</html>