<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Nano Scan</title>
</head>
<body>
    <div class="container">
        <h1>Nano Scan</h1>
        <button onclick="fetchUser()">Scan Now</button>
        
        <div id="data-container">
            <h2>Student Information</h2>
            <div id="data" class="user-data">Scan to display user details.</div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>
</html>
